############################################################################
# config for a specific user: e.g, file user-someone.env => LOGNAME=someone
# file is sourced when ~/.bashrc is run.
# (prefer to add config to OS-*env, group org-*env, host-*env; allowing most
# configuration to be shared, and per-user configuration remains minimal)
############################################################################

# group env files to load (org-{name}.env); will be run in the order listed
export USER_ORG=${USER_ORG},dev,oradev,devops,qa

# set various env vars, aliases, functions...
export LESS="-ReXF"

# optinally share config between users (e.g., as a default)...
# [ -f $HOMEDIR_USER_ENV/user-demo2.env ] && . $HOMEDIR_USER_ENV/user-demo2.env

# return true
:
