############################################################################
# config for specific user
#  e.g., file user-someone.env => LOGNAME=someone
#  file is sourced when ~/.bashrc is run
############################################################################

# group env files to load (org-{name}.env, sourced in order listed)
# export USER_ORG=default,dev,oradev,devops,qa


############################################################################
# various env vars, aliases, functions...
export LESS="-ReXF"


############################################################################
# returning true
:

