#!/bin/bash
# group env files to load (org-{name}.env, sourced in order listed)
USER_ORG=${USER_ORG},javadev,dev

# database (test/demo user)
export ORA_USER ORA_PASS
: ${ORA_USER:="test001"}
: ${ORA_PASS:=${ORA_USER}}

# print ip address(es)
alias ifconf="ifconfig | egrep '^[^ ]|inet.*add'"

export LESS="-ReXF"

############################################################################
[ ${HOMEDIR_BIN_COMMON_LOG_INIT:-0} -eq 0 ] && source $HOMEDIR_BIN/common/log.sh >> $HOMEDIR_LOG 2>&1

_user_env_log() {
  #local LOG_LEVEL=DEBUG
  log "$@"
}

############################################################################
# bash completion for psx, killall, etc
[ -f   $HOMEDIR_BIN/completion/bash_completion_psx ] \
  && . $HOMEDIR_BIN/completion/bash_completion_psx >> $HOMEDIR_LOG 2>&1

# use hosts files to complete hostnames for ssh
[ -f   $HOMEDIR_BIN/completion/bash_completion_ssh ] \
  && . $HOMEDIR_BIN/completion/bash_completion_ssh >> $HOMEDIR_LOG 2>&1

############################################################################
print_path(){
  old=$IFS
  IFS=:
  printf "%s\n" $PATH
  IFS=$old
}

############################################################################
# Find files, ignoring .svn/.git/etc (for corresponding "diff", see diffr).
f() {
  local dirs="" default_action="-print"
  for x ; do # loop until an option (starts w/ "-")
    [ "${x:0:1}" = "-" ] && break
    dirs="${dirs} ${x}"
    shift
  done

  # if excluding paths w/ prune, the normally optional "-print" is required
  [ $# -ne 0 ] && default_action=""

  # ignore .ade/.svn/.git/CVS; use "$@" if wildcards match files in pwd
  find ${dirs:=.} \
    \(  ! -regex ".*/\.[asg][dvi][ent].*" -a ! -regex ".*/CVS.*" \) $default_action "$@"
}

############################################################################
# findn (find-name), find a file of the given name using "find"
# usage:
#  findn [directory...] filename [-option1 etc -option2 etc...]
#
findn() {
  local dirs="" default_action="-print"
  for x ; do # loop until an option (starts w/ "-")
    [ "${x:0:1}" = "-" ] && break
    [ -d "${x}" ] && dirs="${dirs} ${x}" && shift
  done

  # if excluding paths w/ prune, the normally optional "-print" is required
  [ $# -ne 0 ] && default_action=""

  find ${dirs:=.} -name "$@" $default_action
}


############################################################################
# Search through jar files for a given pattern (ie, a filename).
# Usage: findj [paths|jars] pattern
# Examples:
#    find class in some pkg:   findj ~/.m2/repo*  ObjectFactory.class
#    find pkg name (from pwd)  findj javax/jmx
#    case insensitive:         findj -i javax/JMX
#    ..and "quiet" grep:       findj . -iq javax/JMX
#
findj () {
  local pattern paths opts
  [ $# -eq 0 ] && echo "usage: findj [paths] [pattern]" && return 2
  [ $# -eq 1 ] && paths=. && pattern="$@" && shift

  for x ; do
    [ "$#" -eq 1 ] && pattern="$@" && break
    [ "$x" = "--" ] && shift && pattern="$@" && break
    [ "${x:0:1}" = "-" ] && opts="$x" && shift && pattern="$@" && break
    paths="$paths $x" && shift
  done

  for x in $(find $paths -name "*.jar" -print)
  do
     unzip -l -qq "$x" | egrep $opts $pattern
     local found=$?
     [ $found -eq 0 ] && echo "FOUND: $x     $pattern"
  done
}


############################################################################
# finds - (find-string) find a string in a file using "find"
#  Usage: finds [search-dirs] [egrep-options] [pattern]
#  Example: finds include src -i "something"
#  Returns:
#     foo.c: SomeThing
#
finds () {
 local dirs=
 for x
 do   # iterate, until it looks like we have an option (starts w/ "-")
    [ "${x:0:1}" = "-" ] && break
    [ -d "${x}" ] && dirs="${dirs} ${x}" && shift
 done

 find ${dirs:=.} \
    \( -type f -o -type l \) \
    \( ! -name "*~" \) \
    -exec egrep "$@" {} \; \
    -print
}

# usage: finds [egrep-opts] searchstring
#function finds {
#  find . -type f -exec egrep "$@" {} \; -print ;
#}

############################################################################
# findsrc - run "find" for source files, doing an 'egrep' on all found files.
#  Usage: findsrc [search-dirs] [egrep-options] [pattern]
#  Example: findsrc include src -i "something"
#  Returns:
#     foo.c: SomeThing
#     Bar.java: someThing
#
findsrc () {
  local dirs="" x=""
  for x ; do # loop until an option (starts w/ "-")
     [ "${x:0:1}" = "-" ] && break
     [ -d "${x}" -o -f "${x}" ] && dirs="${dirs} ${x}" && shift
  done

  find ${dirs:=.} \
     \( -type f -o -type l \) \
     \( -name "*.java" -o -name "*.[chCH]"  -o -name "*.[Cc][Cc]" -o -name "*.c[xp][xp]" -o -name "*.xml" -o -name "*.prop*s" -o -name "*.prm"  \) \
     -exec egrep "$@" {} \; \
     -print
 }

# return status
:

