###################
# notes:
# * to exclude contents of all 'bin' dirs at *all* levels (never use "**"),
#      bin/
# * but that does allow the directory itself; exclude the trailing "/" to
#   exclude any "bin" file OR directory
# * escaping "#" only necessary when it starts a filename:
#      \#somefile#
#      .foo#*
# * example ignoring all hidden files (.*), excluding .gitignore
#      .*
#      !.gitignore
###################

# backup files, directories
backup
.backup

# OpenOffice / LibreOffice lock files (.~*#)
.*#

# common generated project directories
build/
_build/
target/
dist/
activemq-data/

## General/Unix/Linux
# vim
*~
*.bak
.*.sw[a-z]
*.un~
Session.vim

# emacs
\#*#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.#*

# KDE
.directory

# version control
.svn
.CVS
.hg
.hg/
.hgignore
.ade_path

# nfs
.nfs*

###################
## Netbeans
#nbproject/private/
nbproject/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml


###################
## Eclipse
*.pydevproject
.project
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
# generally, we want 'bin'
#bin/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


###################
## development / binaries
# c/c++
*.so
*.com
*.dll
*.exe
*.o
*.a

# logs, tests
*.log
*.sqlite

# Java
*.class
*.war
*.jar
*.ear

# Python
*.py[cod]
.tox
MANIFEST
pip.egg-info/
.coverage
coverage.xml


###################
## archives
# compressed
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.xz
*.lzma

#packing-only formats
*.iso
*.tar

#package management formats
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm

###################
## OSX
.DS_Store*

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

###################
## Windows
Thumbs.db
Desktop.ini


###################
## Visual Studio
# Ignore Visual Studio temporary files, build results, and
# files generated by popular Visual Studio add-ons.

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
.builds

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf

# Visual Studio profiler
*.psess
*.vsp

# Installshield output folder
[Ee]xpress

# Others
[Bb]in
[Oo]bj
TestResults
*.Cache
ClientBin
stylecop.*
~$*
*.dbmdl
Generated_Code #added for RIA/Silverlight projects
# (remove this from list, might be valid in other contexts)
# sql

# Backup & report files from converting an old project
# file to a newer Visual Studio version.
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML


# local, unversioned env files
/skel/.env/local.env
/skel/env/local.env
/skel/.vim/.netrwhist

# by default, ignore new per-user & per-org env config
/skel/user_env/user-*
/skel/user_env/org-*

# example/default org, user env config
!/skel/user_env/org-default.env
!/skel/user_env/org-dev.env
!/skel/user_env/user-demo.env

# allow shell scripts
!/skel/bin/
#!/skel/bin/*
