# Copy this file from "local.env.sample" to be "local.env" (in $HOME (default) or
# (historically) $HOME/env), and it will be read before other "env" configuration.
# Set things here that should not be shared under version control: usernames, passwords, etc

PATH=/usr/local/bin:$PATH

# used by some aliases/functions for running db scripts
# export ORA_PASS=my_oracle_passwd
# export ORA_USER=my_oacle_username

# set on cygwin to disable git prompt (which can be very slow)
# export GIT_PS1="false"

# optionally set $SCREENRC to something other than the default $HOME/.screenrc
# export SCREENRC=.myscreenrc

# override default "homedir" bin directory used by some functions/aliases
# export HOMEDIR_BIN=$HOME/bin/wk
